<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>



<div class="container">
    <div class="col-md-6">
<form method="post">
    {% csrf_token %}

    <h1 class="text-danger">do you wont delete</h1>
    <button type="submit" class="btn btn-danger" name="delete">Delete</button>
    <a href="/" class="btn btn-success">Back</a>




</form>
    </div>
</div>
</body>
</html>